<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Messages from Devices</h4>
                        <p class="card-category"> Displaying last 20 rows from cassandra table</p>
                    </div>
                    
                    
                    <div class="card-body">
                            <div class="col-md-3 col-md-offset-3 pull-right">
                                    <div class="dropdown dropdown-menu-right" >
                                            <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownButton">{{buttonLabel}}
                                                    <span class="caret"></span></button>
                                             <ul class="dropdown-menu" role="menu">
                                                <li *ngFor="let vehicle of vehicles" [value]="vehicle.imei" (click)="getMessages(vehicle)" class="dropdown-item">
                                                    {{vehicle.name}}</li>
                                            </ul>
                                    </div>
                            </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>
                                        Time
                                    </th>
                                    <th>
                                        IMEI
                                    </th>
                                    <th>
                                        Speed
                                    </th>
                                    <th>
                                        Fuel
                                    </th>
                                    <th>
                                        Temperature
                                    </th>
                                </thead>
                                <tbody>
                                    <tr class="col-md-12" *ngFor="let a of allMessages">
                                        <td>
                                            {{a.actual_date}}
                                        </td>
                                        <td>
                                            {{a.imei}}
                                        </td>
                                        <td>
                                            {{a.speed}}
                                        </td>
                                        <td>
                                            {{a.fuel}}
                                        </td>
                                        <td>
                                            {{a.temperature}}
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>