<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Messages from Devices</h4>
                        <p class="card-category"> Displaying last 20 rows from cassandra table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        IMEI
                                    </th>
                                    <th>
                                        Speed
                                    </th>
                                    <th>
                                        Fuel
                                    </th>
                                    <th>
                                        Actual Date
                                    </th>
                                </thead>
                                <tbody>
                                    <tr class="col-md-12" *ngFor="let a of allMessages">
                                        <td>
                                            {{a.id}}
                                        </td>
                                        <td>
                                            {{a.iMEI}}
                                        </td>
                                        <td>
                                            {{a.speed}}
                                        </td>
                                        <td>
                                            {{a.fuel}}
                                        </td>
                                        <td>
                                            {{a.actualDate}}
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>